extends layout

block content
	
	div(class="section")
		div(class='row')
			div(class='col index-l')
				img(src="https://pbs.twimg.com/profile_images/1038817609628626945/7OTaFwNd_400x400.jpg", alt="picture of me" class='mast-img')
				h1 Elias Mawa
				p.
					B.ASc Computer Science
				p.
					#[a(href="mailto:emawa@sawol.moe") emawa@sawol.moe]
				p
					a(href='https://github.com/CeruleanSong')
						i(class="fab fa-github fa-2x") 
						| 
					a(href='https://bitbucket.org/CeruleanSong/')
						i(class="fab fa-bitbucket fa-2x")

					a(href='https://ceruleanssong.tumblr.com/')
						i(class="fab fa-tumblr fa-2x")

			div(class='col center-v index-r')
				p.
					Just a nerd tring to survive. I'm attending to The King's University of Edmonton; Taking a major in Computer Sciences.
					I like art, technology, and economics. I usually spend my free
					running, coding, reading manga and watching anime; Occasionally also playing Magic The Gathering.
					I enjoy web, android, and desktop development.
					You can check out what i'm doing at #[a(href='https://bitbucket.org/CeruleanSong/') Bitbucket],
					or #[a(href='https://github.com/CeruleanSong') Github]. 
					If you want to contact me send me a message on Discord at elias🌸#8005, if that's not your thing you can email me at
					#[a(href="mailto:emawa@sawol.moe") emawa@sawol.moe]. I'd love to collab, or talk with you! 
				p.
					~ Ashley in smash please.