extends layout

block content

	div(class="section")
		div(class='row')
			div(class='col')
				img(src="https://pbs.twimg.com/profile_images/1038817609628626945/7OTaFwNd_400x400.jpg", alt="picture of me" class='mast-img')
				p Elias Mawa
				p
					a(href='https://github.com/CeruleanSong') github
						i(class="fab fa-github") 
					| 
					a(href='https://bitbucket.org/CeruleanSong/') bitbucket
						i(class="fab fa-bitbucket")