doctype html
html
	head
		title Megumin
		link(rel='stylesheet', type='text/css', href='https://unpkg.com/ashleycss')
		link(rel='stylesheet', type='text/css', href='/style.css')
		
	body
		div(class='nav-container')
			a(class='nav-logo', href='/') Sawol.moe
			a(class='nav-object', href='/about') About Me
			a(class='nav-object', href='/projects') Projects

		div(class="container")
			block content