extends layout

block content
	
	div(class="section center")
		//	
			p.
				nodejs <br> #[progress(value='60', max='100')] 
				<br>
				c++ <br> #[progress(value='70', max='100')]
				<br>
				dart <br> #[progress(value='35', max='100')]
					
		h1 Come back later!
			i(class="fas fa-cogs fa-lg")