extends layout

block content

	// ashleycss
	div(class="row")
		div(class="col")
			a(href="https://bitbucket.org/CeruleanSong/ashleycss/src/master/") ashleycss
				img(class="icon-w", src="/img/projects/placeholder.png")
		div(class="col")
			p Lightwight css framework

	// araragi
	div(class="row")
		div(class="col")
			a(href="https://bitbucket.org/CeruleanSong/araragi/src/master/") araragi
				img(class="icon-w", src="/img/projects/placeholder.png")
		div(class="col")
			p A commandline tool made in c++ for downloading image galleries.

	// kurisu
	div(class="row")
		div(class="col")
			a(href="https://github.com/Tromodolo/Kurisu-Node") kurisu
				img(class="icon-w", src="/img/projects/placeholder.png")
		div(class="col")
			p A all purpose discord bot. Made in collaberation with Tromo visit him at his #[a(href="https://tro.moe/") website]

	// ashleybot
	div(class="row")
		div(class="col")
			a(href="https://bitbucket.org/CeruleanSong/ashleybot/src/master/") ashleybot
				img(class="icon-w", src="/img/projects/placeholder.png")
		div(class="col")
			p A Discord music bot made in nodejs.

	// sakura
	div(class="row")
		div(class="col")
			a(href="https://github.com/CeruleanSong/sakura") sakura
				img(class="icon-w", src="/img/projects/placeholder.png")
		div(class="col")
			p A android manga reader.
