html {
	/* background-color: #ffb7c5; */
	
	position: relative;
	height: auto;
	min-height: 100% !important;
}

body {
	background: none !important;
}

.blur {
	filter: blur(4px);
}

.icon-badge {
	cursor: pointer;
	vertical-align: middle;
	height: 100px;
	width: 250px; 
	border-radius: 10px 10px 10px 10px;
}

.icon-p {
	height: 300px;
	border: 5px #ea9329 solid;
    border-radius: 100%;
}

.modal {
	filter: none;
	visibility: hidden;

	display: none;

	position: fixed;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 10%;
	left: 0;
	width: 40%;
	height: max-content;
	background-color: #f5e0ff;
	border-radius: 15px 15px 15px 15px;
}

.close {
	cursor: pointer;
}

.screen {
	filter: blur(0px);

	visibility: hidden;
	display: none;

	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
	background:rgba(0, 0, 0, 0.6);
}

.is-active {
	visibility: visible;
	display: initial;
}

.mast-img {
	border-radius: 100%;
	height: 300px;
}

.mast-text {
	font-size: 40px;
}

.mast-text a{
	font-size: 20px;
}

.index-l *{
	text-align: right;
}

.index-l {
	text-align: right;
}

.index-r *{
	text-align: left;
}

/* .diag-bg {
	position: relative;
	background: repeating-linear-gradient(
		-45deg,
		#ffe0c0,
		#ffe0c0 50%,
		#ffffc0 0%,
		#ffffc0 100%);
}


.vert-bg {
	position: relative;
	background: repeating-linear-gradient(
		-90deg,
		#ffe0c0,
		#ffe0c0 50%,
		#ffffc0 0%,
		#ffffc0 100%);
} */