html, body {
	font-size: 16px;
	width: 100%;
}

$screen-lg: 1200px;
$screen-md: 768px;
$screen-sm: 481px;

.container {
	margin: 0rem 32%;

	@media (max-width: $screen-lg) {
		margin: 0rem 16%;
	}

	@media (max-width: $screen-md) {
		margin: 0rem 8%;
	}

	@media (max-width: $screen-sm) {
		margin: 0rem 4%;
	}
}

.project-tag {
	display: flex;
}

.left {
	display: flex;
	width: 50%;

	gap: 1rem;
}

.right {
	display: flex;
	width: 50%;
	
	justify-content: flex-end;
}

.row {
	display: flex;
	flex-direction: row;

	img {
		padding: 0rem 0.4rem;
	}

	div {
		width: 100%;
	}
}

.icon {
	height: 2rem;
}

.icon-large {
	max-width: 4rem;
	height: 4rem;
}

.gap-1 {
	display: flex;
	gap: 1rem;
}

.disabled {
	&:hover {
		cursor: not-allowed;
	}
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;

	.tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
	
		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%;
		margin-left: -60px;
	}
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip{
	&:hover {
		.tooltiptext {
			visibility: visible;
		}
	}
}

hr {
	opacity: 30%;
	border: 1px solid black;
	border-radius: 1rem;
	width: 50%;
}

a {
	text-decoration: none;
}

ul {
	margin: 0.4rem 0rem;
}

p {
	margin: 0.4rem 0rem;
}

.body {
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.nav-bar {
	display: flex;
	justify-content: center;

	>span {
		padding: 0rem 2rem;
		font-size: 2rem;
	}
}

.title {
	margin: 2rem 0rem 0rem;
	display: flex;
	justify-content: center;
}

// .header {
// 	margin: 1rem 0rem 0rem;
// }

@for $i from 1 through 6 {
    h#{$i} {
		@if $i == 2 {
			margin: 0.8rem 0rem 0rem;
		} @else {
			margin: 0.2rem 0rem 0rem;
		}
    }
}