extends layout

block content
	
	div(class="section container")
		div(class='row')
			div(class='col index-l')
				//- img(src="/img/portrait-o/songoku.jpg", alt="picture of me" class='mast-img')
				//- img(src="/img/portrait/portrait.png", alt="picture of me" class='mast-img-2')
				h1 Elias Mawa
				//- div
				//- 	img(src="/img/portrait/boi-3.jpg", alt="picture of me" class='mast-img-2')
				//- 	img(src="/img/portrait/img2.jpg", alt="picture of me" class='mast-img-2')
				//- 	img(src="/img/portrait/img1.jpg", alt="picture of me" class='mast-img-2')
				//- p.
				//- 	Student/Software Developer
				p.
					B.ASc Computer Science
				p #[a(href="mailto:elias@emawa.io") elias@emawa.io]
				p
					a(href='https://github.com/CeruleanSong')
						i(class="fab fa-github fa-2x")
					| 
					a(href='https://www.linkedin.com/in/emawa/')
						i(class="fab fa-linkedin fa-2x") 
					| 
					a(href='https://codepen.io/CeruleanSong')
						i(class="fab fa-codepen fa-2x") 
					p
						a(href='/file/2020-FEB-V1.pdf')
							button(class="outline") Resume #[i(class="fas fa-file-download")]

			div(class='col index-r')
				p.
					Elias as is a developer who like web & mobile application development. He's dabbled in both frontend and backend work.

				//- small.
				//- 	~ Ashley in smash please ~