extends layout

block content
	
	div(class="section")
		div(class='row')
			div(class='col index-l')
				//- img(src="/img/portrait-o/songoku.jpg", alt="picture of me" class='mast-img')
				//- img(src="/img/portrait/portrait.png", alt="picture of me" class='mast-img-2')
				h1 Elias Mawa
				//- div
				//- 	img(src="/img/portrait/boi-3.jpg", alt="picture of me" class='mast-img-2')
				//- 	img(src="/img/portrait/img2.jpg", alt="picture of me" class='mast-img-2')
				//- 	img(src="/img/portrait/img1.jpg", alt="picture of me" class='mast-img-2')
				//- p.
				//- 	Student/Software Developer
				p.
					B.ASc Computer Science
				p.
					#[a(href="mailto:elias@emawa.io") elias@emawa.io]
				p
					a(href='/file/elias-mawa-resume.pdf')
						button(class="outline") Resume #[i(class="fas fa-file-download")]

			div(class='col index-r')
				p.
					A nerd and a self proclaimed full-stack software developer trying to survive.
				p.
					I'm a connoisseur of music, fantasy novels, & tabletop games. 
				p.
					Most importantly though, i'm going to get good at swing dancing soon...
				p.

				//- small.
				//- 	~ Ashley in smash please ~