extends layout

block content

	div(class="section center")
		div(class='row center')
			//- img(src="/img/portrait-o/shinomiya.jpg", alt="picture of me" class='mast-img border-roundester')
			//- img(src="/img/portrait/boi-3.jpg", alt="picture of me" class='mast-img')
			//- div(class="text-center")
				//- img(src="/img/portrait/img2.jpg", alt="picture of me" class='mast-img')
				//- img(src="/img/portrait/img1.jpg", alt="picture of me" class='mast-img')

			//- img(src="/img/portrait/img1.jpg", alt="picture of me" class='mast-img')
			p(class='mast-text text-center') elias mawa
				//- br
				//- a(href='https://github.com/CeruleanSong')
				//- 	i(class="fab fa-github fa-2x")
				//- | 
				//- a(href='https://www.linkedin.com/in/emawa/')
				//- 	i(class="fab fa-linkedin fa-2x") 
				//- | 
				//- a(href='https://codepen.io/CeruleanSong')
				//- 	i(class="fab fa-codepen fa-2x") 
				//- a(href='https://bitbucket.org/CeruleanSong/')
				//- 	i(class="fab fa-bitbucket fa-2x")	
				//- a(href='https://songmawa.tumblr.com/')
				//- 	i(class="fab fa-tumblr fa-2x")
				//- a(href='https://twitter.com/songmawa')
				//- 	i(class="fab fa-twitter fa-2x")
				//- a(href='https://twitter.com/songmawa')
				//- 	i(class="fab fa-discord fa-2x")
				//- a(href='https://twitter.com/songmawa')
				//- 	i(class="fab fa-discord fa-2x")
			//- #[br]
			//- #[a(href='https://twitter.com/songmawa') @songmawa]
