extends layout

block content

	div(class="section")
		div(class='row center')
			//- img(src="/img/portrait-o/shinomiya.jpg", alt="picture of me" class='mast-img border-roundester')
			img(src="/img/portrait/portrait.png", alt="picture of me" class='mast-img')
			//- img(src="/img/portrait/img1.jpg", alt="picture of me" class='mast-img')
			p(class='mast-text center').
				Elias Mawa
				#[br]
				#[a(href='https://twitter.com/songmawa') @songmawa]
