extends layout

block content

	div(class="section center")
		div(class='row center')
			//- img(src="/img/portrait-o/shinomiya.jpg", alt="picture of me" class='mast-img border-roundester')
			img(src="/img/portrait/boi-3.jpg", alt="picture of me" class='mast-img')
			//- div(class="text-center")
				//- img(src="/img/portrait/img2.jpg", alt="picture of me" class='mast-img')
				//- img(src="/img/portrait/img1.jpg", alt="picture of me" class='mast-img')

			//- img(src="/img/portrait/img1.jpg", alt="picture of me" class='mast-img')
			p(class='mast-text center').
				elias mawa
				#[br]
				#[a(href='https://twitter.com/songmawa') @songmawa]
