doctype html
html(class='diag-bg')
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Elias Mawa
		
		// local assets
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/script.js')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		link(rel='shortcut icon', type='x-icon' href='/favicon.ico')

		// ashleycss
		link(rel='stylesheet', type='text/css', href='https://unpkg.com/ashleycss')
		
		// Font Awesome
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css',
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz", crossorigin="anonymous")
			
		// Global site tag (gtag.js) - Google Analytics
		script(src="https://www.googletagmanager.com/gtag/js?id=G-W1HLPW9SKB" async)
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-W1HLPW9SKB');

	body
			
		div(class='nav-container')
			a(class='nav-logo', href='/') Sawol.ca
			a(class="nav-accordian" id="" href="javascript:(0)")
			a(class='nav-object', href='/about') About Me
			a(class='nav-object', href='/projects') Projects
			//- a(class='nav-object', href='/portfolio') Portfolio
			//- a(class='nav-object', href='/portal') Portal

		div(class="container")
			block content
		
		footer
			p 모든 웹은 걸작