extends layout

block content
	
	div(class="section center")
		h1 Under Construction!
			i(class="fas fa-cogs fa-lg")

	//- div(class='nav-container')
	//- ul
	//- 	li #[a(class='nav-object', href='#Skills') Skills]
	//- 	li #[a(class='nav-object', href='/about') School Projects]
	//- 	li #[a(class='nav-object', href='/projects') Projects]
	//- 	li #[a(class='nav-object', href='/about') Skills]

	//- div(class="section center")

	//- 	h3 Skills
	//- 	| HTML/CSS/JAVASCIRPT
	//- 	progress(class="progress-success" value='95', max='100')
	//- 	| TypeScripy & NodeJS
	//- 	progress(class="progress-success" value='85', max='100')
	//- 	| C++
	//- 	progress(class="progress-success" value='75', max='100')
	//- 	| Java
	//- 	progress(class="progress-info" value='55', max='100')
	//- 	| Dart
	//- 	progress(class="progress-info" value='45', max='100')
	//- 	| Go
	//- 	progress(class="progress-info" value='30', max='100')