extends layout

block content
	
	div(class="section center")
		//- h1 Under Construction!
		//- 	i(class="fas fa-cogs fa-lg")

	//- div(class='nav-container')
	//- ul
		//- li #[a(class='nav-object', href='#skills') Skills]
		//- li #[a(class='nav-object', href='/projects') Projects]
		//- li #[a(class='nav-object', href='/about') School Assignments]

	div(class="section")

		div(class="section center")
			h1 Elias Mawa
			p The King's University
			p B.ASc Computer Science
			p.
				#[a(href="mailto:elias@emawa.io") elias@emawa.io]
			a(href='/file/elias-mawa-resume.pdf')
				button(class="") Resume #[i(class="fas fa-file-download")]

		div(class="section center")
			h3 Skills
			div(class="row")
				h6 HTML/CSS/JAVASCIRPT
				progress(class="progress-success" value='95', max='100')
				h6 TypeScript & NodeJS
				progress(class="progress-success" value='85', max='100')
				h6 C++
				progress(class="progress-info" value='75', max='100')
				h6 Java
				progress(class="progress-info" value='60', max='100')
				h6 Ruby
				progress(class="progress-primary" value='40', max='100')
				h6 Dart
				progress(class="progress-primary" value='35', max='100')
				h6 Go
				progress(class="progress-primary" value='25', max='100')

		div(class="section center")
			h3 School Assignments
			p Some of my school assignments
			div(class="row")
				div(class="card shadow")
					img(src="/img/screen-shots/chess/chess-shot-4.png", alt="picture of me")
					h1 Software Engineering: #[span(class="color-electric-indigo") Chess]
					p.
						A semester long project. A full graphical chess game developed in a group setting.A Robust application fitted with 2 player local & ai capabilities, andvarying settings & tools.
					a(href='/file/chess.zip')
						button(class="outline") Download

				div(class="card shadow")
					img(src="/img/screen-shots/paint/paint-shot-1.png", alt="picture of me")
					h1 Algorithm Analysis: #[span(class="color-electric-indigo") Paint & Flood Fill Algorithm]
					p.
						Small graphical paint application for a self-guided final project. Utilizes C++ & the OpenGL/FreeGLUT libraries. Inteded for a full demonstration of the flood (or bucket) fill & border fill algorithms.
					a(href='https://github.com/CeruleanSong/paint32')
						button(class="outline") Git Repo

			div(class="row")
				div(class="card shadow")
					img(src="/img/screen-shots/mine/mine-shot-2.png", alt="picture of me")
					h1 Web Application: #[span(class="color-electric-indigo") Mine Sweeper]
					p.
						Small mine sweeper application.
					a(href='startupedmonton.com/member-alumni-companies')
						button(class="outline") Live Demo

				div(class="card shadow")
					img(src="/img/screen-shots/bible/bible-shot-2.png", alt="picture of me")
					h1 Web Application: #[span(class="color-electric-indigo") Bible Word Query]
					p.
						Small tool for finding the location of words in a bible. Uses SQL & PHP.
					a(href='http://cs.kingsu.ca/~emawa/cmpt-304/Assignment04/display_query.php')
						button(class="outline") Live Demo