extends layout

block content
	
	div(class='content center text-center')
		div(class="section")
			//- h3 Completed 
			//- 	i(class="fas fa-check-square fa-lg")

			div(class="row")
				div(class="col")
					// ashleycss
					div(class="proj")
						img(class="icon-badge", id='ashley',
							src="/img/badges/ashleycss-badge-small.png")
						h6 ashleycss

					// gobox
					div(class="proj")
						img(class="icon-badge", id='gobox',
							src="/img/badges/gobox-badge-small.png")
						h6 gobox

					// ashleybot
					div(class="proj")
						img(class="icon-badge", id='ashleybot'
							,src="/img/badges/ashleybot-badge-small.png")
						h6 ashleybot

					// kurisu
					div(class="proj")
						img(class="icon-badge", id='kurisu',
							src="/img/badges/kurisu-badge-small.png")
						h6 kurisu

					// sakura
					div(class="proj")
						img(class="icon-badge", id='sakura',
							src="/img/badges/sakura-badge-small.png")
						h6 sakura


	//////////////////////////////////////////////////
	//												//
	//					Modals						//
	//												//
	//////////////////////////////////////////////////

	div(class='modals center')
		div(class='screen')

		// ashleycss
		div(class='modal', id='ashley-modal')
			div(class="row")
				div(class="col")
					h5 ashleycss
					img(class="icon-badge", src="/img/badges/ashleycss-badge-small.png")
			div(class="row")
				div(class="col")
					p A lightweight & modern css framework. Conformant with CSS3 & HTML5. Focuses on clean design and visiblity. This website uses it 🤩.
					a(href='https://github.com/CeruleanSong/ashleycss')
						button(class="") Git Repo
					| 
					a(href='https://github.com/CeruleanSong/ashleycss/releases')
						button(class="outline") Download
					| 
					a(href='https://css.emawa.io')
						button(class="outline") Live Demo
			div(class="row")
				div(class="col")
					div(class='center close') close

		// gobox
		div(class='modal', id='gobox-modal')
			div(class="row")
				div(class="col")
					h5 gobox
					img(class="icon-badge", src="/img/badges/gobox-badge-small.png")
			div(class="row")
				div(class="col")
					p A web application for general-purpose file sharing.
					a(href='https://github.com/CeruleanSong/gobox')
						button(class="") Git Repo
					| 
					a(href='https://github.com/CeruleanSong/gobox/releases')
						button(class="outline") Download
					| 
					a(href='https://gobox.emawa.io')
						button(class="outline") Live Demo
			div(class="row")
				div(class="col")
					div(class='center close') close

		// ashleybot
		div(class='modal', id='ashleybot-modal')
			div(class="row")
				div(class="col")
					h5 ashleybot
					img(class="icon-badge", src="/img/badges/ashleybot-badge-small.png")
			div(class="row")
				div(class="col")
					p A Discord music bot made with NodeJS & IrisJs
					a(href='https://github.com/CeruleanSong/ashleybot')
						button(class="") Git Repo
					| 
					a(href='https://github.com/CeruleanSong/ashleybot/releases')
						button(class="outline") Download
					//- | 
					//- a(href='https://bitbucket.org/CeruleanSong/ashleybot/src/master/')
					//- 	button(class="outline") Demo
			div(class="row")
				div(class="col")
					div(class='center close') close

		// kurisu
		div(class='modal', id='kurisu-modal')
			div(class="row")
				div(class="col")
					h5 kurisu
					img(class="icon-badge", src="/img/badges/kurisu-badge-small.png")
			div(class="row")
				div(class="col")
					p An all purpose discord bot that I help develop on. Created by Tromo checkout his website #[a(href='https://tro.moe/') here].
					a(href='https://github.com/Tromodolo/Kurisu')
						button(class="") Git Repo
					| 
					a(href='https://github.com/Tromodolo/Kurisu/releases')
						button(class="outline") Download
					//- | 
					//- a(href='https://bitbucket.org/CeruleanSong/ashleycss/src/master/')
					//- 	button(class="outline") Demo
			div(class="row")
				div(class="col")
					div(class='center close') close

		// sakura
		div(class='modal', id='sakura-modal')
			div(class="row")
				div(class="col")
					h5 sakura
					img(class="icon-badge", src="/img/badges/sakura-badge-small.png")
			div(class="row")
				div(class="col")
					p An android manga reader. #[strong In super Early stages.]
					a(href='https://github.com/CeruleanSong/sakura')
						button(class="") Git Repo
					| 
					a(href='https://github.com/CeruleanSong/sakura/releases')
						button(class="outline") Download
					//- | 
					//- a(href='https://bitbucket.org/CeruleanSong/ashleybot/src/master/')
					//- 	button(class="outline") Demo
			div(class="row")
				div(class="col")
					div(class='center close') close
