html, body {
	/* background-color: #ffb7c5; */
	
	position: relative;
	height: 100%;
	margin: 0;

	position: relative;
	height: auto;
	min-height: 100vh !important;
	background: none !important;
}

footer {
	margin: 0 auto;
	bottom: 0px;
	position: absolute;
}

#main-c {
	height: 100%;
	padding-bottom: 6rem;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box .row.stuff {
	flex: 1 1 auto;
}

.blur {
	filter: blur(4px);
}

.icon-badge {
	cursor: pointer;
	vertical-align: middle;
	/* height: 100px; */
	width: 100%;
	border-radius: 10px 10px 10px 10px;
}

.icon-p {
	height: 300px;
	border: 5px #ea9329 solid;
	border-radius: 100%;
}

.modal {
	align-items: center;
	justify-content: center;

	filter: none;
	visibility: hidden;

	display: none;

	position: fixed;

	margin: auto;

	top: 20%;
	bottom: 20%;
	right: 0;
	left: 0;
	
	width: 40%;
	height: max-content;

	/* background-color: #fff; */
	/* background-color: #f5e0ff;  */
	/* border-radius: 15px 15px 15px 15px; */
}

@media only screen and (max-width: 768px){
	.modal {
		width: 90%;
	}
}

.card p strong, .card p a {
	font-size: .8rem !important;
}

.close {
	cursor: pointer;
}

.screen {
	filter: blur(0px);

	visibility: hidden;
	display: none;

	position:fixed;

	padding:0;
	margin:0;

	top:0;
	left:0;

	width: 100%;
	height: 100%;

	background:rgba(0, 0, 0, 0.6);

	z-index: 10;
}

.is-active {
	z-index: 10;

	visibility: visible;
	display: flex;
}

.mast-img {
	right: 0px;
	margin: 20px 1px 0px;
	border-radius: 100%;
	max-width: 30vh;
	max-height: 60vh;
}

.mast-img-2 {
	right: 0px;
	margin: 20px 2px 0px;
	border-radius: 100%;
	max-width: 15%;
	max-height: 40%;
}

.mast-text {
	font-size: 40px;
}

.mast-text a{
	font-size: 16px;
}

.index-r *{
	text-align: left;
}

.index-l *{
	text-align: right;
}

@media only screen and (max-width: 768px){
	.index-l *{
		text-align: center;
	}
}

@media only screen and (max-width: 768px){
	.index-r *{
		text-align: center;
	}
}
/* .diag-bg {
	position: relative;
	background: repeating-linear-gradient(
		-45deg,
		#ffe0c0,
		#ffe0c0 50%,
		#ffffc0 0%,
		#ffffc0 100%);
}


.vert-bg {
	position: relative;
	background: repeating-linear-gradient(
		-90deg,
		#ffe0c0,
		#ffe0c0 50%,
		#ffffc0 0%,
		#ffffc0 100%);
} */