.icon {
	// max-height: 6rem;
	width: 6rem;
}

.iconContainer {
	display: flex;
	flex-direction: row;
	margin-right: 1rem;
	max-height: 6rem;
	max-width: 6rem;
}

.itemList {
	&> div {
		margin: 0.5rem;
	}
}